h1  {
  color:antiquewhite;
  background-color: black;
  text-align: center;
}

body {
  background-color: black;
  color:antiquewhite;
}
.sidebar {
  width: 15%;
  float: right;
  background-color: darkgray;
}





@media screen and (min-width: 768px) {
  
  .column {
    width: 25%;
    float: left;
  }
  .centercolumn {
    width: 50%;
    float: left;
  }
}